/* styles for the wp-offer plugin  */

#dra-press-gallery {
    position: relative ;    
    margin-left: auto ;
    margin-right: auto ;    
    width: 98% ;
    max-width: 1000px ;
    border: 1px solid #fff ;
}

#dra-press-gallery .preview-image-container {
    position: relative ;
    margin-right: auto ;
    margin-left: auto ;
    padding: 3px ;
    margin-bottom: 16px ;
    text-align: center ;
    background-color: #e3e3e3 ;
    max-width: 600px  ;
}

#dra-press-gallery .preview-image-container .inner {
    padding: 6px ;
    background-color: #fff ;
}

#dra-press-gallery .preview-image-container .caption-wrap {
    padding-top: 12px ;
    padding-bottom: 12px ;
}

#dra-press-gallery .preview-image-container  .caption-wrap p {
    text-align: center ;
    font-size: 18px ;
    margin-bottom: 0 ;
}



@media screen and (min-width: 768px ) {
    
    #dra-press-gallery .preview-image-container  {
	width: 48% ;
	height: 330px
    }
    #dra-press-gallery .preview-image-container.odd {
	float: left ;
    }
    #dra-press-gallery .preview-image-container.even {
	float: right ;
    }
}